.footer {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
  margin: 30px;
  margin-top: 30px;
}

.logo {
  margin: 30px;
}

.copyright {
  font-size: 14px;
  margin-top: 50px;
}

.content {
  font-size: 14px;
}

.ContactLogo {
  height: 20px;
  margin-right: 10px;
}

.content {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
  color: gray;
}
